version: '3.8'

services:

 zookeeper:
  image: bitnami/zookeeper:3.9
  environment:
    - ALLOW_ANONYMOUS_LOGIN=yes

kafka:
  image: bitnami/kafka:3.6
  ports:
    - "9092:9092"
  environment:
    - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
    - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    - ALLOW_PLAINTEXT_LISTENER=yes
  depends_on:
    - zookeeper


  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
      - MYSQL_DATABASE=cdc_db
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  cdc-service:
    build: .
    environment:
      - CDC_DB_HOST=mysql
      - CDC_DB_USER=root
      - CDC_DB_PASSWORD=root_password
      - CDC_DB_NAME=cdc_db
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=cdc_events
    depends_on:
      - mysql
      - kafka

  kafka-consumer:
    build: ./kafka-consumer
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=cdc_events
    depends_on:
      - kafka
